<div class="row">
	<div style="border: 1px dotted #666666; padding: 0.5em" class="col-lg-8">
		<object type="image/svg+xml" data="/map.svg" alt="Karte von Schleswig-Holstein" title="Karte von Schleswig-Holstein" id="map" style="width: 100%"></object>
	</div>

	<div class="col-lg-4">
		<ul>
			<li><a href="/hei/">Kreisverband Dithmarschen</a></li>
			<li><a href="/fl/">Kreisverband Flensburg</a></li>
			<li><a href="/rz/">Kreisverband Herzogtum Lauenburg</a></li>
			<li><a href="/ki/">Kreisverband Kiel</a></li>
			<li><a href="/hl/">Kreisverband Lübeck</a></li>
			<li><a href="/nms/">Ortsverband Neumünster</a></li>
			<li><a href="/nf/">Kreisverband Nordfriesland</a></li>
			<li><a href="/oh/">Kreisverband Ostholstein</a></li>
			<li><a href="/pi/">Kreisverband Pinneberg</a></li>
			<li><a href="/plo/">Kreisverband Plön</a></li>
			<li><a href="/rd/">Kreisverband Rendsburg-Eckernförde</a></li>
			<li><a href="/sl/">Kreisverband Schleswig-Flensburg</a></li>
			<li><a href="/se/">Kreisverband Segeberg</a></li>
			<li><a href="/iz/">Kreisverband Steinburg</a></li>
			<li><a href="/od/">Kreisverband Stormarn</a></li>
		</ul>
	</div>
</div>
