<div id="menu" class="container">
  <ul class="nav nav-fill">
    <li class="nav-item">
      <a href="{{ $.Site.BaseURL }}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="{{ $.Site.BaseURL }}verbaende/" class="nav-link">Verb&auml;nde</a>
    </li>
    <li class="nav-item no-small">
      <a href="https://die-partei.de" class="nav-link">BundesPARTEI</a>
    </li>
    <li class="nav-item no-small">
      <a href="https://die-partei.net" class="nav-link">PARTEINetzwerk</a>
    </li>
    <li class="nav-item">
      <a href="{{ $.Site.BaseURL }}impressum/" class="nav-link">Impressum</a>
    </li>
  </ul>
</div>
