{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="row">
    <div class="col-6">
    {{ if .Paginator.HasPrev }}
        <a class="button" rel="prev" href="{{ .Site.BaseURL }}{{.Paginator.Prev.URL}}">
            « Neuere Artikel
        </a>
    {{ end }}
    </div>

    {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <!-- <div class="spacer col-md-6"></div> -->
    {{ end }}

    {{ if .Paginator.HasNext }}
      <div class="col-6 text-right">
        <a class="button" rel="next" href="{{ .Site.BaseURL }}{{.Paginator.Next.URL}}">
            Ältere Artikel »
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
